@import "tailwindcss";
@import "tailwindcss/utilities";




@layer utilities {
  /* Act as a border */
  .card-wrapper {
    @apply relative overflow-hidden rounded-2xl bg-gradient-to-b from-slate-700 to-slate-800;
  }

  /* Gradient */
  .card-wrapper::before {
    background: conic-gradient(
      rgba(244, 114, 182, 0.4) 0deg,
      rgba(192, 132, 252, 0.4) 0deg,
      transparent 80deg
    );

    @apply absolute left-[-25%] top-[-25%] h-[150%] w-[150%] animate-border-spin content-[''];
  }

  /* Body */
  .card-content {
    @apply absolute left-[5px] top-[3px] h-[calc(100%-5px)] w-[calc(100%-10px)] rounded-2xl bg-gradient-to-b from-slate-800 to-slate-900;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Custom animations */
  @keyframes border-spin {
    100% {
      transform: rotate(-360deg);
    }
  }
  
  --animate-border-spin: border-spin 7s linear infinite;
}

@media (prefers-color-scheme: dark) {
  :root {
    --forehorund: #0a0a0a;
    --background: #ededed;
  }
}

.overlay {
  position: relative;
}

.overlay img {
  width: 100%;
  height: auto;
}

.overlay::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .9), transparent 15%);
  pointer-events: none;
}

.overlay-content {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 1em;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
